
@font-face {
font-family: 'robotomedium';
src: url('Roboto-Medium-webfont.eot');
src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Medium-webfont.woff2') format('woff2'),
    url('Roboto-Medium-webfont.woff') format('woff'),
    url('Roboto-Medium-webfont.ttf') format('truetype'),
    url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
}
@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff2') format('woff2'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
}
h1, h2, h3, ul{
    font-family:"robotomedium";
}
body{
    font-family: 'robotolight';;
}
/**************************MOBILE**************************/
@media screen and (min-width:600px){

}


/**************************TABLETTE**************************/
@media screen and (min-width:601px) and (max-width:990px){

}


/**************************DESKTOP/LAPTOP**************************/
@media screen and (min-width:991px){
    
}